# Introduction to 25 Tips in SQL, using SQL Server Database

This project explores 25 SQL Tips to enhance your understading of SQL functionalities. Each tip demonstrates the capabilities with examples that can be directly applied to the¬†Northwind\_2023 database or easily adjusted for your database's schema. Each tip includes an explanation of its classification, why you might use it, and an example with sample output.

**Legend:**  
üóÉÔ∏è Classification of the SQL function or capability.  
üìù An explanation for why or when to use the SQL tip.  
‚öôÔ∏è Use case example(s).  
üö´ Any limitations or additional considerations.¬†  
üñ•Ô∏è Sample query.

## üóÉÔ∏è **Date and Time Functions**
Used to manipulate and format date and time values for time based analysis and reporting.

## **üìç1. Use GETDATE to get current date and time**

üìù `GETDATE` provides the current date and time of the system, which is useful for tracking the time of an action.  
‚öôÔ∏è Show all orders placed today.  

üñ•Ô∏è  
SELECT *  
FROM Orders  
WHERE OrderDate = CONVERT(date, GETDATE());

üö´ Since, this database has 2023 records, this function example will return no records.  
‚öôÔ∏è View the current system date and time stamp.  

üñ•Ô∏è  
SELECT GETDATE() AS CurrentDateTime;

In [1]:
SELECT GETDATE() AS CurrentDateTime;

CurrentDateTime
2024-11-02 13:26:22.460

## **üìç2. Use DATEPART to extracts parts of a date**

üìù `DATEPART` extracts specific parts of a date, like year, month, or day. It‚Äôs useful for categorizing or analyzing data by time periods.¬†¬†  
‚öôÔ∏è Show orders placed in each month.¬† ¬†¬†

üñ•Ô∏è ¬†   
SELECT¬†DATEPART(month, OrderDate) AS Month,  
¬† ¬† COUNT(OrderID) AS OrderCount  
FROM¬†Orders  
GROUP BY¬†DATEPART(month, OrderDate)  
ORDER BY¬†DATEPART(month, OrderDate);

In [5]:
SELECT DATEPART(month, OrderDate) AS Month,
    COUNT(OrderID) AS OrderCount
FROM Orders
GROUP BY DATEPART(month, OrderDate)
ORDER BY DATEPART(month, OrderDate);

Month,OrderCount
1,88
2,83
3,103
4,105
5,46
6,30
7,55
8,58
9,60
10,64
11,59
12,79

## **üìç3. Use DATEDIFF to calculate date differences**

üìù¬†`DATEDIFF`¬†calculates the difference between two dates, which can be used to measure durations.¬†¬†  
‚öôÔ∏è Calculate the number of days between order and shipment, for durations over 34 days.  

üñ•Ô∏è¬†  
SELECT OrderID,¬†  
¬† ¬† DATEDIFF(day, OrderDate, ShippedDate) AS DaysToShip  
FROM Orders  
WHERE DATEDIFF(day, OrderDate, ShippedDate)  
ORDER BY DaysToShip DESC;

In [6]:
SELECT OrderID, 
    DATEDIFF(day, OrderDate, ShippedDate) AS DaysToShip
FROM Orders
WHERE DATEDIFF(day, OrderDate, ShippedDate) > 34
ORDER BY DaysToShip DESC;

OrderID,DaysToShip
10660,37
10777,37
10924,35
10380,35
10427,35
10545,35
10593,35

## üóÉÔ∏è¬†**Aggregate Functions**
Perform calculations on a set of rows and return a single summarized value as the result.

## **üìç4. Use MAX to find the maximum value in a column**

üìù¬†`MAX`¬†identifies the hishest value in in a set of values, which is useful in finding maximums or outliers.¬†  
‚öôÔ∏è Find the highest unit price in the _Products_ table.

üñ•Ô∏è  
SELECT ProductName,  
¬† ¬† UnitPrice AS MaxPrice  
FROM Products  
WHERE UnitPrice = (SELECT MAX(UnitPrice) FROM Products);  

üö´ Only works with numeric it date values.

In [7]:
SELECT ProductName, 
    UnitPrice AS MaxPrice
FROM Products
WHERE UnitPrice = (SELECT MAX(UnitPrice) FROM Products);

ProductName,MaxPrice
C√¥te de Blaye,263.50

## **üìç5. Use MIN to find the minimum value in a column**

üìù Similarly,¬†`MIN` identifies the lowest value in in a set of values, which is useful in finding minimums or outliers.¬†  
‚öôÔ∏è Find the minimum order quantity in the _OrderDetails_ table.

üñ•Ô∏è   
SELECT ProductID,   
¬† ¬† Quantity AS MinQuantity  
FROM OrderDetails  
WHERE Quantity = (SELECT MIN(Quantity) FROM OrderDetails);  

üö´ Only works with numeric it date values.

In [8]:
SELECT ProductID, 
    Quantity AS MinQuantity
FROM OrderDetails
WHERE Quantity = (SELECT MIN(Quantity) FROM OrderDetails);

ProductID,MinQuantity
37,1
19,1
69,1
13,1
72,1
59,1
31,1
40,1
30,1
4,1
6,1
7,1
10,1
14,1
20,1
32,1
66,1

## **üìç6. Use COUNT to count rows or non-null values.**

üìù `COUNT` is used to count¬†the number of rows or non-null values, which can be helpful in understanding the data volume or calculating totals.¬†  
‚öôÔ∏è Find the top 5 customers with the hishest order count.

üñ•Ô∏è ¬†  
SELECT TOP 5 CustomerID,     
¬† ¬† COUNT(OrderID) AS OrderCount  
FROM Orders  
GROUP BY CustomerID  
ORDER BY OrderCount DESC;

üö´ `COUNT(column)` only counts non-null values.

In [9]:
SELECT TOP 5 CustomerID, 
    COUNT(OrderID) AS OrderCount
FROM Orders
GROUP BY CustomerID
ORDER BY OrderCount DESC;

CustomerID,OrderCount
SAVEA,31
ERNSH,30
QUICK,28
FOLKO,19
HUNGO,19

## **üìç7. Use HAVING to count rows or non-null values.**

üìù `HAVING` filters after aggragation, which is useful in specifying conditions on grouped data.  
‚öôÔ∏è Show customers who have placed more than 20 orders.

üñ•Ô∏è  
SELECT CustomerID, COUNT(OrderID) AS OrderCount  
¬† ¬† FROM Orders  
GROUP BY CustomerID  
HAVING COUNT(OrderID) > 20;

üö´`HAVING` is only used with `GROUP BY`, for other fitering `WHERE` can be used.

In [10]:
SELECT CustomerID, COUNT(OrderID) AS OrderCount
    FROM Orders
GROUP BY CustomerID
HAVING COUNT(OrderID) > 20;

CustomerID,OrderCount
ERNSH,30
QUICK,28
SAVEA,31

## **üìç8. Use ROLLUP to calculate Subtotals and Grand Totals.**

üìù `ROLLUP` is an extension of the `GROUP BY`¬†clause.¬†It allows you to calculate subtotals and a grand total within a single query. Data can be summarized or grouped in levels without needing to write a query for each level of aggregation.  
‚öôÔ∏è Calculate total sales by _CustomerID_ and _ProductID_, with subtotals per customer and a grand total for all sales.

üñ•Ô∏è  
SELECT o.CustomerID,  
¬† ¬† od.ProductID,  
¬† ¬† SUM(od.UnitPrice * od.Quantity) AS TotalSales  
FROM OrderDetails AS od  
JOIN Orders AS o ON od.OrderID = o.OrderID  
WHERE o.CustomerID IN ('ALFKI', 'ANATR')  
GROUP BY ROLLUP (o.CustomerID, od.ProductID);

üö´ `NULL` values represents the subtotals and totals, which may reduce the readability.

In [12]:
SELECT o.CustomerID, 
    od.ProductID, 
    SUM(od.UnitPrice * od.Quantity) AS TotalSales
FROM OrderDetails AS od
JOIN Orders AS o ON od.OrderID = o.OrderID
WHERE o.CustomerID IN ('ALFKI', 'ANATR')
GROUP BY ROLLUP (o.CustomerID, od.ProductID);

CustomerID,ProductID,TotalSales
ALFKI,3,60.00
ALFKI,6,400.00
ALFKI,28,775.20
ALFKI,39,378.00
ALFKI,46,24.00
ALFKI,58,530.00
ALFKI,59,825.00
ALFKI,63,878.00
ALFKI,71,430.00
ALFKI,76,270.00
ALFKI,77,26.00
ALFKI,NULL,4596.20
ANATR,11,42.00
ANATR,13,60.00
ANATR,14,69.75
ANATR,19,64.40
ANATR,32,320.00
ANATR,42,70.00
ANATR,60,340.00
ANATR,69,28.80
ANATR,70,60.00
ANATR,72,348.00
ANATR,NULL,1402.95
NULL,NULL,5999.15

## **üìç9. Replace NULL values with COALESCE**

üìù `COALESCE` is a `NULL` handling function. It allows you to substitute `NULL` values with an expression that understood better by the end user. This is helpful in result sets where `NULL` values might otherwise cause confusion, like in the previous example in using `ROLLUP`.

‚öôÔ∏è Calculate total sales by _CustomerID_ and _ProductID_, with subtotals per customer and a grand total for all sales with the labels to replace `NULL` values.

üñ•Ô∏è  
SELECT COALESCE(o.CustomerID, 'Selected Customers') AS CustomerID,  
¬† ¬† CASE  
¬† ¬† ¬† ¬† WHEN o.CustomerID IS NULL AND od.ProductID IS NULL THEN 'Grand Total'  
¬† ¬† ¬† ¬† ELSE COALESCE(CAST(od.ProductID AS VARCHAR), 'Subtotal')  
¬† ¬† END AS ProductID,  
¬† ¬† SUM(od.UnitPrice * od.Quantity) AS TotalSales  
FROM OrderDetails AS od  
JOIN Orders AS o ON od.OrderID = o.OrderID  
WHERE o.CustomerID IN ('ALFKI', 'ANATR')  
GROUP BY ROLLUP (o.CustomerID, od.ProductID);

üö´ Values used in `COALESCE` should match the data type of the column, else there will be an error for using integers and strings in the same column within the result set. Eg in _ProductID_, the `INT` data type is not compatible with the string _Subtotal_. So a `CAST` function is used to convert thr integer value into a `VARCHAR` string data type.

If a `INT` value was used instead to replace the values of the _ProductID_, then no conversion would be needed.  
<u>The query would then read:</u>  
SELECT COALESCE(o.CustomerID, 'Grand Total') AS CustomerID,  
¬† ¬† COALESCE(od.ProductID, '88888') AS ProductID, -- an integer value '8888' instead of string 'Subtotal' will not need conversion  
¬† ¬† SUM(od.UnitPrice * od.Quantity) AS TotalSales  
FROM OrderDetails AS od  
JOIN Orders AS o ON od.OrderID = o.OrderID  
WHERE o.CustomerID IN ('ALFKI', 'ANATR')  
GROUP BY ROLLUP (o.CustomerID, od.ProductID);

In [13]:
SELECT COALESCE(o.CustomerID, 'Selected Customers') AS CustomerID, 
    CASE 
        WHEN o.CustomerID IS NULL AND od.ProductID IS NULL THEN 'Grand Total'
        ELSE COALESCE(CAST(od.ProductID AS VARCHAR), 'Subtotal')
    END AS ProductID, 
    SUM(od.UnitPrice * od.Quantity) AS TotalSales
FROM OrderDetails AS od
JOIN Orders AS o ON od.OrderID = o.OrderID
WHERE o.CustomerID IN ('ALFKI', 'ANATR')
GROUP BY ROLLUP (o.CustomerID, od.ProductID);

CustomerID,ProductID,TotalSales
ALFKI,3,60.00
ALFKI,6,400.00
ALFKI,28,775.20
ALFKI,39,378.00
ALFKI,46,24.00
ALFKI,58,530.00
ALFKI,59,825.00
ALFKI,63,878.00
ALFKI,71,430.00
ALFKI,76,270.00
ALFKI,77,26.00
ALFKI,Subtotal,4596.20
ANATR,11,42.00
ANATR,13,60.00
ANATR,14,69.75
ANATR,19,64.40
ANATR,32,320.00
ANATR,42,70.00
ANATR,60,340.00
ANATR,69,28.80
ANATR,70,60.00
ANATR,72,348.00
ANATR,Subtotal,1402.95
Selected Customers,Grand Total,5999.15

## üóÉÔ∏è¬†**String Functions**
Used to modify text data and can help with standardizing or data cleaning.

## **üìç10. Use CONCAT to combine Strings.**

üìù `CONCAT` combines multiple strings into one, which is useful for creating composite values like full names or addresses.  
‚öôÔ∏è Combine _FirstName_ and _LastName_ to create full names from _Employees_ table.

üñ•Ô∏è ¬†  
SELECT CONCAT(FirstName, ' ', LastName) AS FullName  
FROM Employees;

üö´ `CONCAT` will return `NULL` if any argument is `NULL`.

In [14]:
SELECT CONCAT(FirstName, ' ', LastName) AS FullName
FROM Employees;

FullName
Nancy Davolio
Andrew Fuller
Janet Leverling
Margaret Peacock
Steven Buchanan
Michael Suyama
Robert King
Laura Callahan
Anne Dodsworth

## **üìç11. Use UPPER to convert text to uppercase.**

üìù¬†`UPPER`¬†converts text into uppercase for consistent formatting.   
‚öôÔ∏è Display customer names in uppercase.  

üñ•Ô∏è ¬†  
SELECT TOP 5 UPPER(ContactName) AS UpperCaseName  
FROM Customers;  

üö´¬†`Only affects alphabetic characters.

In [31]:
SELECT TOP 5 UPPER(ContactName) AS UpperCaseName
FROM Customers;

UpperCaseName
MARIA ANDERS
ANA TRUJILLO
ANTONIO MORENO
THOMAS HARDY
CHRISTINA BERGLUND

## **üìç12. Use LOWER to convert text to lowercase.**

üìù¬†`LOWER` converts text to lowercase for consisting formatting also.  
‚öôÔ∏è Convert product names to lowercase.

üñ•Ô∏è   
SELECT TOP 5 LOWER(ProductName) AS LowerCaseProductName   
FROM Products;  

üö´¬†Only affects alphabetic characters.

In [15]:
SELECT TOP 5 LOWER(ProductName) AS LowerCaseProductName
FROM Products;

LowerCaseProductName
chai
chang
aniseed syrup
chef anton's cajun seasoning
chef anton's gumbo mix

## **üìç13. Use REPLACE to substitute part of a String.**

üìù¬†`REPLACE`¬†substitutes occurrences of a specified substring with another, useful for cleaning data or standardization.  
‚öôÔ∏è Replace _Ltd._ in company names with _Limited_.

üñ•Ô∏è¬†  
SELECT REPLACE(CompanyName, 'Ltd.', 'Limited') AS CompanyName  
FROM Suppliers  
WHERE CompanyName LIKE '%Ltd.%';

üö´ `REPLACE` is case-sensitive.

In [16]:
SELECT REPLACE(CompanyName, 'Ltd.', 'Limited') AS CompanyName
FROM Suppliers
WHERE CompanyName LIKE '%Ltd.%';

CompanyName
"Pavlova, Limited"
"Specialty Biscuits, Limited"

## **üìç14. Use TRIM to remove leading and trailing spaces.**

üìù¬†`TRIM`¬†removes unnecessary spaces, making it helpful for data cleaning.  
‚öôÔ∏è Trim any spaces from employee names.

üñ•Ô∏è  
SELECT TRIM(FirstName) AS TrimFirstName   
FROM Employees;   

üö´ Only removes spaces, not other whitespace characters like tabs.

In [17]:
SELECT TRIM(FirstName) AS TrimFirstName
FROM Employees;

TrimFirstName
Nancy
Andrew
Janet
Margaret
Steven
Michael
Robert
Laura
Anne

## **üìç15. Use SUBSTRING to extract part of a string.**

üìù¬†`SUBSTRING`¬†extracts a part of a string, which is useful for extracting specific portions like area codes from phone numbers or postal codes.  
‚öôÔ∏è Extract the first 5 characters of postal codes.  

üñ•Ô∏è   
SELECT SUBSTRING(PostalCode, 1, 5) AS ShortPostalCode  
FROM Customers; ¬†
  
üö´ Only returns a fixed length of characters, which may need adjusting for varying string lengths.

In [19]:
SELECT TOP 5 SUBSTRING(PostalCode, 1, 5) AS ShortPostalCode
FROM Customers;

ShortPostalCode
12209
05021
05023
WA1 1
S-958

## **üìç16. Use LEFT to extract the leftmost characters of a string.**

üìù¬†`LEFT`¬†extracts a specified number of characters from the start of a string, useful for isolating prefixes or partial data.   
‚öôÔ∏è Show the first 3 letters of each product name. ¬†

üñ•Ô∏è  
SELECT TOP 5 ProductName,  
¬† ¬† LEFT(ProductName, 3) AS ProductPrefix  
FROM Products;

üö´ Only extracts a fixed number of characters from the left, which may need adjusting for varying string lengths.

In [22]:
SELECT TOP 5 ProductName,
	LEFT(ProductName, 3) AS ProductPrefix
FROM Products;

ProductName,ProductPrefix
Chai,Cha
Chang,Cha
Aniseed Syrup,Ani
Chef Anton's Cajun Seasoning,Che
Chef Anton's Gumbo Mix,Che

## **üìç17. Use RIGHT to extract the rightmost characters of a string.**

üìù¬†`RIGHT`¬†extracts characters from the end of a string, useful for suffixes, codes, or last few digits.     
‚öôÔ∏è Show the last 3 digits of each employee‚Äôs postal code for them to use as temporary pins.

üñ•Ô∏è  
SELECT EmployeeID,  
¬† ¬† RIGHT(PostalCode, 3) AS PostalSuffix  
FROM Employees;  

üö´ Only extracts a fixed number of characters from the right, which may need adjusting for varying string lengths.

In [23]:
SELECT EmployeeID,
	RIGHT(PostalCode, 3) AS PostalSuffix
FROM Employees;

EmployeeID,PostalSuffix
1,122
2,401
3,033
4,052
5,8JR
6,7JR
7,9SP
8,105
9,7LT

## üóÉÔ∏è¬†**Mathematical Functions**
Used to perform calculations and operations on numerical data within a SQL query.

## **üìç18. Use ROUND to adjust deicimal precison.**

üìù¬†`ROUND`¬†sets the decimal precision of numeric values, helpful for displaying currency or other precise values.  
‚öôÔ∏è Round product prices to two decimal places.  

üñ•Ô∏è   
SELECT TOP 5 ROUND(UnitPrice, 2) AS RoundedPrice  
FROM Products; ¬†
  
üö´ Could lead to a loss of precision for exact calculations.

In [20]:
SELECT TOP 5 ROUND(UnitPrice, 2) AS RoundedPrice
FROM Products;

RoundedPrice
18.00
19.00
10.00
22.00
21.35

## **üìç19. Use CHECKSUM for data integrity checks.**

üìù¬†`CHECKSUM`¬†generates a hash value (acts as a fingerprint) for a row or column, which is useful for detecting changes in data or verifying data integrity.  
‚öôÔ∏è Track changes in the _Orders_ table by generating `CHECKSUM` values for each row. 

üñ•Ô∏è   
SELECT TOP 5 OrderID,  
¬† ¬† CHECKSUM(*) AS RowChecksum  
FROM Orders; ¬†  
  
üö´ `CHECKSUM` values may not be unique for all data, so it‚Äôs not always suitable for critical integrity checks.

In [21]:
SELECT TOP 5 OrderID,
	CHECKSUM(*) AS RowChecksum
FROM Orders;

OrderID,RowChecksum
10248,-548360815
10249,423381171
10250,-179432955
10251,-689489561
10252,-337808960

## üóÉÔ∏è¬†**Join and Set Operations**
Allow combining data from multiple tables or comparing datasets to find common or distinct values. These operations are essential for creating comprehensive views across related data.

## **üìç20. Use EXCEPT to find non-mathcing records.**

üìù¬†`EXCEPT`¬†returns records from the first query that are not in the second query, and can be useful for comparison.  
‚öôÔ∏è Show customers with no orders. 

üñ•Ô∏è   
SELECT CustomerID  
FROM Customers  
EXCEPT  
SELECT CustomerID  
FROM Orders; ¬†  
  
üö´ Not all SQL databases support `EXCEPT`; an alternative could be to use `NOT IN`.

In [24]:
SELECT CustomerID
FROM Customers
EXCEPT
SELECT CustomerID
FROM Orders;

CustomerID
FISSA
PARIS

## **üìç21. Use INNER JOIN to combine rows based on related columns.**

üìù¬†`INNER JOIN`¬†combines rows from two tables where there is a match in a related column, useful for pulling together related data.  
‚öôÔ∏è Retrieve orders with customer names. 

üñ•Ô∏è   
SELECT Top 5 Orders.OrderID,  
¬† ¬† Customers.ContactName  
FROM Orders  
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID  
ORDER BY OrderID;    
  
üö´ `INNER JOIN` only includes rows with matches in both tables; unmatched rows are excluded.

In [26]:
SELECT Top 5 Orders.OrderID,
    Customers.ContactName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID
ORDER BY OrderID;

OrderID,ContactName
10248,Paul Henriot
10249,Karin Josephs
10250,Mario Pontes
10251,Mary Saveley
10252,Pascale Cartrain

## **üìç22. Use LEFT JOIN to include all rows from the left table.**

üìù¬†`LEFT JOIN`¬†returns all rows from the left table and matched rows from the right table, showing unmatched rows as `NULLS`, which is helpful for inclusive data analysis.  
‚öôÔ∏è Retrieve orders with customer names. 

üñ•Ô∏è   
SELECT Top 5 Orders.OrderID,  
¬† ¬† Customers.ContactName  
FROM Orders  
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID  
ORDER BY OrderID;    
  
üö´ `LEFT JOIN` may include nulls for unmatched row.

In [30]:
SELECT TOP 5 Orders.OrderID,
    Shippers.CompanyName
FROM Orders
LEFT JOIN Shippers ON Orders.ShipVia = Shippers.ShipperID;

OrderID,CompanyName
10248,Federal Shipping
10249,Speedy Express
10250,United Package
10251,Speedy Express
10252,United Package

## üóÉÔ∏è¬†**Data Type Conversion and Conditional Functions**
Manage data compatibility and apply conditional logic in queries

## **üìç23. Use CONVERT to change data types.**

üìù¬†`CONVERT`¬†changes a value from one data type to another, which is essential when combining data of different types or formatting data for display..  
‚öôÔ∏è Convert the _OrderDate to a different format. 

üñ•Ô∏è     
SELECT TOP 5 OrderID,  
¬† ¬† CONVERT(varchar, OrderDate, 101) AS FormattedOrderDate  
FROM Orders;   
  
Here is a table of `CONVERT` codes for date formats.

| **Code** | **Format**                      | **Example (Output for `2024-10-30`)**      |
|----------|---------------------------------|--------------------------------------------|
| **0**    | Default (mon dd yyyy hh:miAM/PM)| Oct 30 2024 12:00AM                        |
| **1**    | mm/dd/yy                        | 10/30/24                                   |
| **2**    | yy.mm.dd                        | 24.10.30                                   |
| **3**    | dd/mm/yy                        | 30/10/24                                   |
| **4**    | dd.mm.yy                        | 30.10.24                                   |
| **5**    | dd-mm-yy                        | 30-10-24                                   |
| **10**   | mm-dd-yy                        | 10-30-24                                   |
| **11**   | yy/mm/dd                        | 24/10/30                                   |
| **12**   | yy.mm.dd                        | 24.10.30                                   |
| **20**   | yyyy-mm-dd (ISO 8601)           | 2024-10-30                                 |
| **21**   | yyyy-mm-dd hh:mi:ss.mmm (ODBC)  | 2024-10-30 00:00:00.000                    |
| **23**   | yyyy-mm-dd                      | 2024-10-30                                 |
| **101**  | mm/dd/yyyy                      | 10/30/2024                                 |
| **102**  | yyyy.mm.dd                      | 2024.10.30                                 |
| **103**  | dd/mm/yyyy                      | 30/10/2024                                 |
| **104**  | dd.mm.yyyy                      | 30.10.2024                                 |
| **105**  | dd-mm-yyyy                      | 30-10-2024                                 |
| **106**  | dd mon yyyy                     | 30 Oct 2024                                |
| **107**  | mon dd, yyyy                    | Oct 30, 2024                               |
| **108**  | hh:mi:ss                        | 00:00:00                                   |
| **110**  | mm-dd-yyyy                      | 10-30-2024                                 |
| **111**  | yyyy/mm/dd                      | 2024/10/30                                 |
| **112**  | yyyymmdd                        | 20241030                                   |
| **113**  | dd mon yyyy hh:mi:ss:mmm        | 30 Oct 2024 00:00:00:000                   |
| **120**  | yyyy-mm-dd hh:mi:ss (ISO)       | 2024-10-30 00:00:00                        |
| **121**  | yyyy-mm-dd hh:mi:ss.mmm (ISO)   | 2024-10-30 00:00:00.000                    |
| **126**  | yyyy-mm-ddThh:mi:ss.mmm (ISO)   | 2024-10-30T00:00:00.000                    |

In [27]:
SELECT TOP 5 OrderID,
	CONVERT(varchar, OrderDate, 101) AS FormattedOrderDate
FROM Orders;

OrderID,FormattedOrderDate
10248,07/04/2021
10249,07/05/2021
10250,07/08/2021
10251,07/08/2021
10252,07/09/2021

## **üìç24. Use CAST to change data types.**

üìù¬†Similarly `CAST` is a function for converting data types with broader compatibilty across databases .  
‚öôÔ∏è Convert _UnitPrice_ to an integer for simpler calculations. 

üñ•Ô∏è  
SELECT TOP 5 ProductName,  
¬† ¬† CAST(UnitPrice AS int) AS RoundedUnitPrice  
FROM Products;

In [28]:
SELECT TOP 5 ProductName,
	CAST(UnitPrice AS int) AS RoundedUnitPrice
FROM Products;

ProductName,RoundedUnitPrice
Chai,18
Chang,19
Aniseed Syrup,10
Chef Anton's Cajun Seasoning,22
Chef Anton's Gumbo Mix,21

## **üìç25. Use TOP to limit results.**

üìù¬† `TOP` limits the number of rows returned, which is useful for sampling data or improving query performance.  
‚öôÔ∏è Get the top 5 most expensive products.  

üñ•Ô∏è   
SELECT TOP 5 ProductName,   
¬† ¬† UnitPrice    
FROM Products   
ORDER BY UnitPrice DESC;   

üö´ When `TOP` is used without an `ORDER BY` clause, the query could return different rows each time it's run. It's recommended to pair `TOP` with `ORDER BY` to ensure predictable results.

In [29]:
SELECT TOP 5 ProductName,
	UnitPrice
FROM Products
ORDER BY UnitPrice DESC;

ProductName,UnitPrice
C√¥te de Blaye,263.50
Th√ºringer Rostbratwurst,123.79
Mishi Kobe Niku,97.00
Sir Rodney's Marmalade,81.00
Carnarvon Tigers,62.50

_All queries use the Northwind\_2023 database._

_Queries have been modified to return limited results for better readbility. To apply the queries for your own use case, remove the limit from results by removing `TOP 5` from queries that include it._

_All emojis in this project are sourced from¬†[emojicopy.com](https:\emojicopy.com\)_