# Introduction to 25 Tips Project

This project explores 25 SQL Tips. Each tip demonstrates SQL capabilities with examples that can be directly applied.

**Legend:**  
üóÉÔ∏è Classification of the SQL function or feature. 
üìù An explanation for why or when to use the SQL tip. 
‚öôÔ∏è Example of how it works. 
üñ•Ô∏è Sample query.

## **üìç1. Use ROLLUP to calculate Subtotals and Grand Totals**

üóÇÔ∏è **`ROLLUP`** is an extension of the **`GROUP BY`**¬†clause.

üìù Allows you to calculate subtotals and a grand total within a single query. Data can be summarized or grouped in levels without needing to write a query for each level of aggregation.

‚öôÔ∏è If you have an order details table and want to see total sales by CustomerID and ProductID, along with subtotals per customer and a grand total for all sales.

üñ•Ô∏è    
SELECT C

In [2]:
SELECT

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near '0xd83d'.

## **üìç2. Replace NULL values with COALESCE**¬†

üóÇÔ∏è **COALESCE** is a function.

üìù Allows you to substitute `NULL` values with a value that reads better or understood better by the end user. This is helpful in reports or result sets where `NULL` values might otherwise cause confusion.

‚öôÔ∏è Suppose you want to list customer names along with their region, but for some customers, the region field is empty (NULL). You can replace these NULL values with "No Region" to make the data moe readable.

üñ•Ô∏è

SELECT

In [3]:
SELECT

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near 'SELECT'.

_All queries use the Northwind\_2023 database._

_All emojis in this project are sourced from¬†[emojicopy.com](https:\emojicopy.com\)_